name: Validate Mod Info Schema

on:
  pull_request:
    paths:
      - 'manifest/**/info.json'
  push:
    paths:
      - 'manifest/**/info.json'
    branches:
      - main

jobs:
  validate-mod-info-json:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
        cache: "pip"

    - run: pip install -r requirements.txt

    - name: Get all changed mod info files
      id: changed-mod-files
      uses: step-security/changed-files@95b56dadb92a30ca9036f16423fd3c088a71ee94 # v46.0.5
      with:
        files: |
          manifest/**/info.json

    - name: Validate new files against schema
      run: |
        for file in ${{ steps.changed-mod-files.outputs.all_changed_files }}; do
          echo "Validating: $file"
          check-jsonschema --schemafile 'schemas/mod-schema.json' "$file"
        done
